<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/0f1a9937-db22-490a-bc09-d3cb62c4263a/resourceGroups/tourism-smart-transportation/providers/Microsoft.Web/sites/tourism-smart-transportation-api</ResourceId>
    <ResourceGroup>tourism-smart-transportation</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://tourism-smart-transportation-api.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>http://tourism-smart-transportation-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$tourism-smart-transportation-api</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>